m-overwrite-container {
  --accentColor: var(--accentColor1);
  --backgroundColor: var(--backgroundColor2);
}

#topBar {
  --textColor: var(--backgroundColor2) !important;
  --backgroundColor: var(--accentColor1) !important;
}
